@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --line-color-empty: #e0e0e0;
  --line-color-fill: #3498db;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #f6f7fb;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: '';
  background-color: var(--line-color-empty);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1;
}
.progress {
  background-color: var(--line-color-fill);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  transform: translateY(-50%);
  z-index: -1;
  transform: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-color-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-color-fill);
  animation: pop 0.3s;
}

.btn {
  background-color: var(--line-color-fill);
  color: #fff;
  border-radius: 6px;
  border: 0;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: var(--line-color-empty);
  cursor: not-allowed;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.1);
  }
}
